@model string
@{
    ViewBag.Title = "Home Page";
}
<style>
    .visible {
        display:block;
    }
    .unvisible {
        display: none;
    }
</style>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script type="text/javascript">
    var clsStopwatch = function () {
        // Private vars
        var startAt = 0;	// Time of last start / resume. (0 if not running)
        var lapTime = 0;	// Time on the clock when last stopped in milliseconds

        var now = function () {
            return (new Date()).getTime();
        };

        // Public methods
        // Start or resume
        this.start = function () {
            startAt = startAt ? startAt : now();
        };

        // Stop or pause
        this.stop = function () {
            // If running, update elapsed time otherwise keep it
            lapTime = startAt ? lapTime + now() - startAt : lapTime;
            startAt = 0; // Paused
        };

        // Reset
        this.reset = function () {
            lapTime = startAt = 0;
        };

        // Duration
        this.time = function () {
            return lapTime + (startAt ? now() - startAt : 0);
        };
    };

    var x = new clsStopwatch();
    var $time;
    var clocktimer;

    function pad(num, size) {
        var s = "0000" + num;
        return s.substr(s.length - size);
    }

    function formatTime(time) {
        var h = m = s = ms = 0;
        var newTime = '';

        //h = Math.floor(time / (60 * 60 * 1000));
        time = time % (60 * 60 * 1000);
        m = Math.floor(time / (60 * 1000));
        time = time % (60 * 1000);
        s = Math.floor(time / 1000);
        ms = time % 1000;

        newTime =  pad(m, 2) + ':' + pad(s, 2) + ':' + pad(ms, 2);
        return newTime;
    }

    function show() {
        $time = document.getElementById('time');
        update();
    }

    function update() {
        $time.innerHTML = formatTime(x.time());
    }

    function start() {
        clocktimer = setInterval("update()", 1);
        x.start();
    }

    function stop() {
        x.stop();
        clearInterval(clocktimer);
    }

    function reset() {
        stop();
        x.reset();
        update();
    }

    //toggle button

    $(document).ready(function () {
        $('#lap').attr('disabled', true);

        $('#start').click(function () {
            $("#stop").addClass("visible");
            $("#start").addClass("unvisible");
            $("#stop").removeClass("unvisible");
            $("#start").addClass("visible");
            $('#lap').attr("disabled", false);

            reset(); start();

            $.ajax({
                url: "/Home/ResetLaps",
                type: "POST",
                cache: false,
                async: true,
            });

            $("#laps>tbody > tr").remove();

        });
        $('#stop').click(function () {
            $("#start").addClass("visible");
            $("#stop").addClass("unvisible");
            $("#start").removeClass("unvisible");
            $("#stop").addClass("visible");
            $('#lap').attr('disabled', true);
        });

        //reset laps
        $('#start').click(function () {

            
        });

        //laps
        $('#lap').click(function () {

            $.ajax({
                url: "/Home/Lap",
                type: "POST",
                data: { obj: $('#time').text() },
                cache: false,
                async: true,
                success: function (data) {
                    //alert(data);
                   // $('#laps').innerHTML("<tr>" + data + "</tr>");
                    //var displayData = data.split(",");
                    //alert(displayData);
                    $("#laps>tbody > tr").remove();
                    for (i = 0; i < data.length; ++i) {
                        $("#laps").find('tbody')
                            .append($('<tr>')
                                .append($('<td>')
                                    .text(data[i])
                                )
                            )
                    }
                        
                }
            });
            reset(); start();
        });
    });

    //lap time button
 
</script>
<div class="jumbotron">
    <body onload="show();">
        <div>Time: <span id="time"></span></div>
        
    </body>
    
    
</div>

<div class="row">
    <div class="col-md-6">
       
       
        <button id="start" class="start" value="start" onclick="start();"> Start</button>
        <button id="stop" class="stop unvisible" type="button" value="stop" onclick="stop();">Stop</button>
    <!--    <input type="button" value="reset" onclick="reset()"> -->
        

       
    </div>
    
    <div class="col-md-6">
        <button id="lap" class="lap">Lap Time</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
      <table class="table-striped" id="laps">
          <tbody>
             
          </tbody>
       </table>
    </div>
</div>